@tailwind base;
@tailwind components;
@tailwind utilities;

.underlineEffect{
  position: relative;
}

.underlineEffect:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #c7c7c7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlineEffect:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
  font-weight: bold;
}

.underlineEffect:hover{
  cursor: pointer;
}

.joditBox ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.joditBox {
  all: initial;
}

.joditBox ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.joditBox ol li {
  list-style-type: decimal;
}

.joditBox ol li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.articleJoditBox {
  font-family: __Roboto_Slab_ba47d5,__Roboto_Slab_Fallback_ba47d5;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: justify;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #191970;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

input[type=file]::file-selector-button:hover {
  background: #1f1f8d;
}