@tailwind base;
@tailwind components;
@tailwind utilities;

.underlineEffect{
  position: relative;
}

.underlineEffect:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #231815;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlineEffect:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
  font-weight: bold;
}

.underlineEffect:hover{
  cursor: pointer;
}
