@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 75%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.underlineEffect{
  position: relative;
}

.underlineEffect:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #5a5a5a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlineEffect:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
  font-weight: bold;
}

.underlineEffect:hover{
  cursor: pointer;
}

.joditBox ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.joditBox {
  all: initial;
}

.joditBox ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.joditBox ol li {
  list-style-type: decimal;
}

.joditBox ol li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.articleJoditBox {
  font-family: __Roboto_Slab_ba47d5,__Roboto_Slab_Fallback_ba47d5;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: justify;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #191970;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

input[type=file]::file-selector-button:hover {
  background: #1f1f8d;
}

#header {
  animation: enhance-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
} 

@keyframes enhance-header {
  to {
    border-bottom: 1px solid rgba(27, 30, 36, 0.575);
  }
}

@keyframes enhance-header-dark {
  to {
    border-bottom: 1px solid rgba(138, 154, 187, 0.26);
  }
}


/*cambiar el color cuando esta en modo oscuro */
@media (prefers-color-scheme: dark) {
  #header {
    animation: enhance-header-dark linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
  }
}

:target, section[id], div[id]  {
  scroll-margin-top: 5rem;
}